* {
  margin: 0;
  font-family: sans-serif;
}

:root{
  --theme : black;
}
.all{
  --theme : red;
}

.poison {
  --theme: purple;
}

.grass {
  --theme: green;
}


.flying {
  --theme: rgb(0, 149, 255);
}

.fire {
  --theme: rgb(211, 46, 0);
}

.water {
  --theme: rgb(30, 0, 255);
}

.bug {
  --theme: rgb(93, 73, 58);
}
.normal {
  --theme: rgb(0, 0, 0);
}

.electric {
  --theme: #908e17;
}

.ground {
  --theme: rgb(75, 34, 11);
}
.fairy {
  --theme: pink;
}

.fighting {
  --theme: rgb(133, 23, 4);
}


.rock {
  --theme: #504d4d;
}
.steel {
  --theme: rgb(143, 143, 143);
}
.ice {
  --theme: skyblue;
}

.dragon {
  --theme: linear-gradient(90deg,rgb(146, 9, 9), rgb(155, 99, 2));
}

.psychic {
  --theme: rgb(68, 57, 24);
}









.color-box{
  height: 40px;
  width: 40px;
  background: var(--theme);

}

.cards {
  width: 90vw;
  padding: 40px 0px;
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  border: 1px solid rgba(196, 196, 196, 0.719);
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.4);
  width: 330px;
  border-radius: 5px;
  padding: 5px;
}

.card .image-container {
  background: linear-gradient(135deg, rgba(118, 166, 118, .5), rgba(163, 129, 163, .5));
  width: 100%;
  aspect-ratio: 1;
  overflow: hidden;
  border-radius: 5px 5px 0px 0px;
}

.card .poke-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  scale: 0.8;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
}

.card .description .heading {
  box-sizing: border-box;
  /* border: 1px solid red; */
  padding: 10px 0px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.card .description .heading .name {
  font-family: serif;
  font-size: 22px;
  font-weight: 500;
}

.card .description .heading .poke-type {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
  width: 50%;
  justify-content: flex-end;
  color: white;
}



.card .description .details {
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 100%;
  box-sizing: border-box;

}

.card .description .details .field {
  display: flex;
  padding-bottom: 0.3em;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.326);
  justify-content: space-between;
}

.card .description .details .field .prop-detail {
  display: flex;
  gap: 5px;
  color: #4a4a4a;
}

.card .description .details .field .property {
  color: #373737;
}

.bg-poison {
  background-color: purple;
}

.bg-grass {
  background-color: green;
}


.bg-flying {
  background-color: rgb(0, 149, 255);
}

.bg-fire {
  background-color: rgb(211, 46, 0);
}

.bg-water {
  background-color: rgb(30, 0, 255);
}

.bg-bug {
  background-color: rgb(93, 73, 58);
}
.bg-normal {
  background-color: rgb(0, 0, 0);
}

.bg-electric {
  background-color: #908e17;
}

.bg-ground {
  background-color: rgb(75, 34, 11);
}
.bg-fairy {
  background-color: pink;
}

.bg-fighting {
  background-color: rgb(133, 23, 4);
}


.bg-rock {
  background-color: #504d4d;
}
.bg-steel {
  background-color: rgb(143, 143, 143);
}
.bg-ice {
  background-color: skyblue;
}

.bg-dragon {
  background: linear-gradient(90deg,rgb(146, 9, 9), rgb(155, 99, 2));
}

.bg-psychic {
  background-color: rgb(68, 57, 24);
}
.pokemon-type{
  padding: 1px 3px;
  border-radius: 2px;
  box-shadow: 1px 1px 2px 0 gray;
}
